*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    background-color: #b70000ea;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;     
    padding-bottom: 6%;
    text-align: center;   
}

nav{
    padding: 0.5% 1% 0.5% 1%;
    background-color: #ee4a3f;
    width: 5%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;;
    margin-top: -6%;
    margin-left: 1%;
    
}

nav button{
    background-color: transparent;
    border: none;
    font-size: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    color: #3447f7;
    text-decoration: underline;
}

header h1{

    font-style: bold;
    font-size: 250%;
    margin-top: 1%
}

header p{
    text-align: center;
    font-style: italic;
    font-size: 110%;
    margin-top: 5px;

}


.container{
    display: flex;
    gap: 10%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5%;
    flex-wrap: wrap;
    width: 100%;
    
    
}



h2{
    color: rgb(255, 187, 0);
    margin-top: 0%;
    margin-top: 3%;
    text-align: center;
    background-color: #61606065;
    width: fit-content;
    padding: 1% 2% 1% 2%;
    border-radius: 20px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    

}

.model{
    width: 28%;
    background-color: #2b2b2b;
    border-radius: 10%;
    padding: 1%;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black;
    margin-bottom: 5%;
    
    
}

.model img{
    
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 206, 43, 0.568);
    
}

.model #gto{
    width: 80%;
    height: auto;
    margin: 0;
}

.model #f40{
    width: 80%;
    height: auto;
    margin: 0;
}

.model #laferrari{
    width: 80%;
    height: auto;
    margin: 0;
}

.model p{
    margin-top: 2%;
    font-size: 90%;
    
    padding: 1%;
}

.model h3{
    margin-bottom: 4%;
    font-size: 120%;
    color: #ff0404
}

.intermezzo{
    margin: 5% 10% 5% 10%;
    font-size: 120%;
    text-align: justify;
    background-color: #1a1a1a;
    padding: 1%;
    border-radius: 15px;
    
}

.intermezzo h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 200%;
    color:rgb(253, 194, 0);
    background-color: #333333c0;    
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgb(255, 201, 25); 
    text-shadow: #e90000 2px 2px 5px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.intermezzo p{
    line-height: 1.6;
    padding: 1%;
    text-shadow: 0 0 1px #ffffff;
    margin-top: -1%;
}

#roma{
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(236, 182, 4, 0.568);
}

#sf90{
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(236, 182, 4, 0.568);
}

#purosangue{
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(236, 182, 4, 0.568);
}

footer{
    background-color: #353535;
    
}

footer p{
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 2%;
    opacity: 65%;
}
