*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #222;
    color: white;
    font-family: 'arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



header{
    background-color: #52010171;
    align-items: center;
    padding: 3%;
    width: fit-content;
    border-radius: 12px;
    float: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #0000005b;
    border: 1px solid rgba(128, 1, 1, 0.562);
    margin-top: -4%;
    font-size: 150%;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    background-color: #00000073;
    width: fit-content;
    padding: 1%;
    align-items: center;
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 1%;
    text-align: center;
    

}

nav button{
    background-color: transparent;
    color: #3447f7;
    text-decoration: underline;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}

header p{
    font-style: italic;
    opacity: 75%;
    font-size: 90%;
}

.container{
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    width: 30%;
    float: center;
    margin-left: 20%;
    margin-right: auto;
    margin-top: 2%;
    box-shadow: 0 0 10px #000;
    padding: 2%;
    border-radius: 15px;
    margin-bottom: 5%;
}

.container div{
    margin-top: 3%;
}

.container div h2{
    color: #ffae00;
    margin-bottom: 3%;
    font-size: 190%;
}

.container div p{
    line-height: 1.6;
    background-color: #353535;
    padding: 2%;
    border-radius: 10px;
}

.container2{
    background-color: #3b3b3b;
    width: fit-content;    
    padding: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    float: inline-end;
    margin-left: 55%;
    margin-right: 15%;
    margin-top: -175%;
    box-shadow: 0 0 10px #000;
}

.container2 img{
    width: 100%;
    margin-bottom: 100%;
    
}

.container2 h4{
    color: rgb(175, 0, 0);
    margin-top: -25.5%;
    position: absolute;
    font-size: 120%;
    font-weight: 700;
}

.container2 p{
    margin-top: -89%;
    margin-bottom: 10%;
    font-size: 80%;
    font-weight: 200;
    background-color: #353535;   
    padding: 2%;
    border-radius: 10px;
    font-style: italic;
}


footer{
    background-color: #353535;
    
}

footer p{
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 2%;
    opacity: 65%;
}


/* Media query per schermi fino a 1366px (portatili standard) */
@media (max-width: 1366px) {
    .container2{
        margin-top:-153%;
    }
}
